<style>
  @import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Tac+One&display=swap");

  body, h1, h2, h3, h4, h5, h6, p, span, a, input, textarea, label, button, select {
    font-family: "Pridi", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* NAVBAR */
  .tac-one {
    font-family: "Tac One", sans-serif;
    color: indigo;
  }
  .tac-one:hover { color: #755d86; }

  .nav-link:hover { color: indigo; }

  /* ACCOUNT-AUTH */
  .auth {
    width: 45%;
    padding: 1rem 2rem 2rem;
    border: 1px solid #CCC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .fs-4r { font-size: 3rem; }
  .auth-bottom { padding: 1.5rem 0 0.5rem; }

  .btn-indigo {
    background: #755d86;
    color: #DDD;
    font-size: 1rem;
  }
  .btn-indigo:hover { background: #614d6e; color: #EEE; }
  
  .btn-text { 
    text-decoration: none;
    color: indigo;
  }
  .btn-text:hover { color: #755d86; }

  .text-indigo { color: #191b8f; }

  .messages { width: 47%; }

.profile {
  width: 60%;
  padding: 1rem 2rem 2rem;
  border: 1px solid #CCC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-profile {
  background: #755d86;
  color: #DDD;
  font-size: 1rem;
}

</style>
